./test*.py
.DS_Store
.idea/*
.mypy_cache
.pytest_cache/
.venv
*.kuzu
*.kuzu.wal
*.pyc
*.pyd
*.so
*.sw[op]
**.profiles/**
**/__pycache__/
**/.env.local
**/.run/*
**/node_modules
*/.diffs/**

.nabu/hf_cache/**
nabu_nisaba.code-workspace
**/*.egg-info/**

.nisaba/logs
.nisaba/tui
.nisaba/request_cache
.nisaba/request_cache/**
.nisaba/mcp_servers.json
.nisaba/modified_context.json
.nisaba/workspace.md

ref